{%  extends "layout.html" %}
{%  block body %}
    <div class="row">
    <div class="col-md-4" id="editor" style="background: gold">
        {%  block editor %}
            FIXA 100% width på allt här över!
            <pre id="editorCode"><?php echo htmlentities(file_get_contents($input_dir.")); ?></pre>

            <div class="background"><!--empty bg-div--></div>

        {%  endblock %}
    </div>
    <div class="col-md-8" id="canvas" style="background: silver">
        {%  block canvas %}
            <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <iframe src="{{ url_for('static', filename='canvas.html') }}" scrolling="no" class="canvas" frameborder="0"></iframe>
            </div>
            <div class="col-md-2"></div>
        {%  endblock %}
        </div>
    </div>
{%  endblock %}



<div class="row">
    <div class="col-md-4" id="editToggle">
        <div id="editor"></div>
    </div>

    <div class="col-md-8" id="viewportToggle">
        <div id="art">
            <canvas class="processing-canvas" id="processing-canvas-2d"></canvas>
            <canvas class="processing-canvas" id="processing-canvas-3d"></canvas>
        </div>
    </div>

</div>