<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='codeArt.css') }}">
    <title></title>
</head>
<body>
<div class="container">

    <div class="row my-row">

        <div class="col-sm-6">

            <div class="content">
                This is inside a relative positioned z-index: 1 div
            </div>

            <div class="background"><!--empty bg-div--></div>
        </div>

        <div class="col-sm-6 image-col">
            <img src="http://placehold.it/200x400/777777/FFFFFF&text=image+1" class="img-fluid">
        </div>

    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='p5.js') }}"></script>
<script src="{{ url_for('static', filename='src-noconflict/ace.js') }}" charset="utf-8"></script>
</body>
</html>